.btn-editar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto; /* Centraliza o botão */

}
.btn-editar:hover {
    background-color: #45a049;
}
