{% extends "template.html" %}
{% block conteudo %}

      <form  action="{{ url_for('apagar') }}" method="post">
        <ul>
           {% for jogo in jogos %}
             <li>{{ jogo.nome }} - Categoria: {{ jogo.categoria }}</li>
          {% endfor %}
        </ul>

        <!-- Dropdown para selecionar o nome do jogo -->
        <label for="nome">Selecione o jogo para deletar:</label>
        <select id="nome" name="nome" required>
          {% for jogo in jogos %}
            <option value="{{ jogo.nome }}">{{ jogo.nome }}</option>
          {% endfor %}
        </select>
          <br>
          <button   type="submit" class="btn btn-primary btn-salvar">Deletar</button>

      </form>


        <button class="btn btn-primary btn-salvar" onclick="window.location.href='/inicio'">Inicio</button>
{%endblock%}